/* Header style */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 2%;
    width: 75%;
    height: 70px;
    position: relative;
    z-index: 100;
}

header h1{
    font-family: Comfortaa;
    font-weight: 700;
    font-size: 18px;
    line-height: 32.4px;
    letter-spacing: 0px;

}

header nav ul{
    display: flex;
}

header nav ul li{
    margin: 0 10%;

    color: #fff;
    font-family: Raleway;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
}

/* Main Style */
    /* About Style */
main #about{
    width: 75%;
    display: flex;
    margin: auto;
}

main #about .aboutTxt{
    width: 480px;
}

main #about .aboutTxt .txtField h2{
    color: #25282B;
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: 0%;
}

main #about .aboutTxt .txtField p{
    color: #828282;
    font-family: Nunito;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;body{
        background-color: aqua;
    }
    
    margin: 5% 0;
}

main #about .aboutTxt .aboutButtons #projetosBtn, #linkedInBtn{
    width: 116px;
    height: 43px;
    border-radius: 8px;
    padding: 8px 24px;    
    margin: 0 5% 0 0;

    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0%;

}

main #about .aboutTxt .aboutButtons #projetosBtn{
    background-color: #2C2B2C;
    color: #fff;
    border: none;
}

main #about .aboutTxt .aboutButtons #linkedInBtn{
    background-color: transparent;
    border: #2C2B2C solid 3px;
    color: #2C2B2C;
}

main #about .aboutImg{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
}

main #about .aboutImg img{
    width: 100%;
}

/* Projects Style */
